<section class="post">
  <div class="user">
    <div class="avatar">
      <% if post.user.avatar.attached? %>
        <%= image_tag post.user.avatar %>
      <% else %>
        <%= image_tag 'avatar-placeholder.png' %>
      <% end %>
    </div>
    <%= link_to post.user.username, user_path(post.user), class: 'username' %>
  </div>
  <%= image_tag post.image, class: 'main-image' %>
  <%= render 'shared/post_description', post: post %>
  <%# <div class="description"> %>
    <%#= post.description %>
    <%#= render partial: "posts/description", locals: {post: post} %>
  <%# </div> %>
</section>