<div class="post-show row">
  <div class="col-md-8">
    <%= image_tag @post.image, class: 'image' %>
  </div>
  <div class="col-md-4">
    <div class="user">
      <div class="avatar">
        <% if @post.user.avatar.attached? %>
          <%= image_tag @post.user.avatar %>
        <% else %>
          <%= image_tag 'avatar-placeholder' %>
        <% end %>
      </div>
      <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
    </div>
    <%= render 'shared/post_description', post: @post %>
    <%# <div class="description"> %>
      <%#= @post.description %>
    <%# </div> %>
    <% if @post.user == current_user %>
      <div class="delete">
        <% if current_user.posts.exists?(@post.id) %>
          <%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>