<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= fa_stacked_icon "camera inverse", base: "circle"%>
      Instagram
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav col-md-12">
        <div class="m-auto col-md-5">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          </form>
        </div>
        <div class="user-section col-md-3" align='right'>
          <%= link_to content_tag(:i, "", :class => "fa fa-compass black"), "#" %>
          <%= link_to content_tag(:i, "", :class => "fa fa-heart black"), "#" %>
          <% if user_signed_in? %>
            <%= link_to content_tag(:i, "", :class => "fa fa-user black"), user_path(current_user) %>
            <%= link_to content_tag(:i, "", :class => "fa fa-sign-out black"), destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to content_tag(:i, "", class: "fa fa-sign-in black"), new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
