<!DOCTYPE html>
<html>
  <head>
    <title>Instuigram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>" role="alert">
        <%= msg %>
      </div>
    <% end %>
    <!--Navigation Bar-->
    <%= render 'layouts/navigation' %>

    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <%= render 'layouts/footer' %>
    
  </body>
</html>